.header {
  position: fixed;
  width: 100%;
  height: 72px;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
  overflow: hidden;
  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
//logo
.logo {
  a {
    font-weight: 600;
    color: rgb(255, 0, 0);
    font-size: 39px;
  }
}
//Menu
.navMenu {
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      list-style: none;
      display: inline-block;

      a {
        font-weight: 600;
        color: #fc0707;
        display: block;
        position: relative;
        line-height: 1.25rem;
        perspective: none;
        text-decoration: none;
        text-transform: uppercase;
        padding: 9px 12px;
        
        transition: all 0.3s ease;
        z-index: 1;
      }
      a::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        right: 0;
        z-index: -1;
        background: #ff0000;
        box-shadow: 0 0 20px #ff0000;
        transition: all 0.3s ease;
        
      }
      &:hover {
        a {
          color: aliceblue;
          
        }
        a::before {
          bottom: 0;
          height: 100%;
        }
      }
    }
  }
}

.navMenuMobile {
  display: none;
}

@media (max-width: 999px) {
  .noneMobile {
    display: none;
  }
  .navMenuMobile {
    display: block;
  }
  
}
