* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.truncate {
  text-overflow: ellipsis;

  overflow: hidden;

  display: -webkit-box;

  -webkit-box-orient: vertical;

  -webkit-line-clamp: 1;
}

.truncate--2 {
  -webkit-line-clamp: 2;

  word-break: break-all;
}

.truncate--3 {
  -webkit-line-clamp: 3;

  word-break: break-all;
}

.banner {
  .playBtn {
    visibility: hidden;
  }
  &:hover {
    .playBtn {
      visibility: visible;
    }
  }
}
.carousel {
  .control-prev::before {
    border-right: 39px solid rgb(255, 255, 255) !important;
    border-top: 39px solid transparent !important;
    border-bottom: 39px solid transparent !important;
  }
  .control-next::before {
    border-left: 39px solid rgb(255, 255, 255) !important;
    border-top: 39px solid transparent !important;
    border-bottom: 39px solid transparent !important;
  }
  .control-dots {
    bottom: 12% !important;
    .dot {
      width: 21px !important;
      height: 21px !important;
      background-color: rgba(255, 0, 0) !important;
    }
  }
}
